/* General */
* {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

body {
    max-width: 835px;
    margin: auto;
    padding: 10px 50px 50px;
}

h2,
form {
    color: #000000;
    font-size: 48px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Button */
.bestFilm .open-modal-button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 68px;
    background-color: #FA0B0B;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.film-card .open-modal-button {
    position: absolute;
    right: 15px;
    bottom: 10px;
    justify-content: center;
    width: 81px;
    height: 25px;
    background-color: #2D2C2C;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.close-modal-button {
    align-self: center;
    margin: auto;
    width: 214px;
    height: 36px;
    background-color: #FA0B0B;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 70px;
    margin-bottom: 20px;
}

.show-more-button,
.show-less-button {
    display: none;
    margin: auto;
    width: 214px;
    height: 36px;
    background-color: #FA0B0B;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 30px;
}


.open-modal-button:hover,
.close-modal-button:hover,
.show-more-button:hover,
.show-less-button:hover {
    opacity: 0.8;
}


/* Banner */
header {
    display: flex;
    width: 100%;
    height: 122px;
    align-items: center;
    background-color: #61787F;
    border: 1px solid #000000;
}

header h1 {
    display: block;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 300;
}

.logo {
    width: 125px;
    height: 94px;
    margin-left: 20px;
    margin-right: 40px;
}


/* Best film*/
.bestFilm {
    width: 100%;
    box-sizing: border-box;
    border: 6px solid #000000;
    display: flex;
}

.bestFilm h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.bestFilm img {
    margin: 10px 15px 10px;
    width: 227px;
    height: 334px;
}

.bestFilmContent {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 20px;
}

.bestFilmContent p {
    text-align: justify;
    color: #000000;
    font-size: 28px;
    font-weight: 200;
}

/* Film cards */
.films-container {
    display: grid;
    grid-template-columns: 252px 252px 252px;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 15px;
}

.film-card {
    position: relative;
}

.film-card img {
    width: 252px;
    height: 247px;
    object-fit: cover;
    object-position: center;
}

.film-details {
    position: absolute;
    top: 30px;
    width: 252px;
    height: 102px;
    background-color: rgba(0, 0, 0, 0.5);
}

.film-card h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Form */
.GenreForm {
    width: 100%;
    height: 70px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 60px;
    margin-left: 20px;
    appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: 400;
    pointer-events: none;
}

/* Modal window */
#modal-window[open] {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: auto;
    min-height: 650px;
    width: 50vw;
    border: 6px solid #000000;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-window::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#modal-window img {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 227px;
    height: 334px;
}

.film-info {
    font-weight: 600;
    padding-right: 300px;
}

.film-title {
    display: block;
    font-size: 48px;
    font-weight: 600;
}

.film-director {
    padding-top: 30px;
    padding-bottom: 50px;
}

.modal-labels {
    font-weight: 400;
}

.film-actors {
    font-size: 20px;
    padding-top: 40px;
}

/* Responsive */
@media screen and (max-width: 550px) {

    h2,
    form {
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    header h1 {
        display: none;
    }

    header {
        justify-content: center;
    }

    .logo {
        margin: 0px;
    }

    .bestFilm {
        flex-direction: column;
    }

    .bestFilm h2 {
        text-align: left;
    }

    .bestFilm p {
        font-size: 16px;
    }

    .bestFilm img {
        width: 90%;
        height: 241px;
        object-fit: cover;
        object-position: center;
    }

    .bestFilm .open-modal-button {
        align-self: center;
        width: 91px;
        height: 40px;
        font-size: 14px;
    }

    .films-container {
        grid-template-columns: 252px;
        justify-content: center;
        height: 534px;
        overflow: hidden;
    }

    .GenreForm {
        margin-left: 0px;
        margin-top: 30px;
    }

    .show-more-button {
        display: block;
    }

    #modal-window[open] {
        width: 70vw;
    }

    #modal-window img {
        position: relative;
        top: 30px;
        right: 0px;
        width: 100%;
        height: auto;
    }

    .film-info {
        padding-right: 0px;
    }

    .select-wrapper::after {
        top: 60%;
    }
}

@media (min-width: 550px) and (max-width: 850px) {

    h2,
    form {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .bestFilm p {
        font-size: 24px;
    }

    .bestFilm img {
        width: 168px;
        height: 246px;
    }

    .bestFilm .open-modal-button {
        width: 123px;
        height: 49px;
        font-size: 20px;
        margin-top: 5px;
    }

    .films-container {
        grid-template-columns: 252px 252px;
        justify-content: center;
        height: 534px;
        overflow: hidden;
        gap: 30px;
        row-gap: 30px;
    }

    .show-more-button {
        display: block;
    }

    #modal-window[open] {
        width: 70vw;
    }

    #modal-window img {
        position: relative;
        top: 30px;
        right: 0px;
        width: 100%;
        height: auto;
    }

    .film-info {
        padding-right: 0px;
    }
}